<div id="<%= dom_id article %>" class="scaffold_record">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= article.text %>
  </p>

  <p>
    <%= link_to "Show this article", article %>
  </p>
</div>
