<h1>Welcome to this site</h1>


<h2>Stimulus Check</h2>

<div data-controller="hello">
  <input data-hello-target="name" name="name" type="text">

  <button data-action="click->hello#greet">
    Greet
  </button>

  <span data-hello-target="output">
  </span>
</div>
